<template>
    <div>
        <el-card class="box-card" shadow="never">
            <div slot="header">
                <img src="../assets/logo.png" width="150px">
            </div>

            <el-form ref="form" label-position="top" v-loading="!ready">
                <el-form-item label="Количество вариантов">
                    <el-input-number v-model="variantsNumber"
                                     :min="config.variantsNumber.min"
                                     :max="config.variantsNumber.max"/>
                </el-form-item>

                <el-form-item label="Сложность">
                    <el-slider v-model="difficulty" :min="config.difficulty.min" :max="config.difficulty.max"/>
                </el-form-item>
            </el-form>

            <el-button :loading="!ready" type="primary" :disabled="!ready || seed.trim() !== ''" @click="showTaskOptions">Дальше</el-button>

            <el-divider></el-divider>

             <el-form ref="form" label-position="top" v-loading="!ready">
                <el-form-item label="Ключ генерации">
                    <el-row :gutter="10">
                        <el-col :span="20"><el-input placeholder="Ключ генерации" v-model="seed"></el-input></el-col>
                        <el-col :span="4"><el-button type="primary" @click="info_btn" plain>?</el-button></el-col>
                    </el-row> 
                </el-form-item>
             </el-form>
            
            <el-button :loading="!ready" type="primary" :disabled="!ready || seed.trim() === ''" @click="seedVariant">Дальше</el-button>

        </el-card>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    const {mapFields} = require('vuex-map-fields');

    /**
     * Компонент конфигурирует вариант в state.
     * Настройки компонента поставляются сервером.
     */
    export default {
        name: "CreateVariant",
        computed: {
            ...mapState([
                'config',
                'selected_config',
                'ready',
                
            ]),
            ...mapFields([
                'workMode.variantsNumber',
                'workMode.difficulty',
                'seed'
            ])
        },

        methods: {
            ...mapActions([
                'updateConfig',
                'showTaskOptions',
                'seedVariant'
            ]),

            info_btn() {
                this.$alert('Ключ генерации задает сложность и количество вариантов.\nОдинаковые ключи генерации будут генерировать одинаковые задачи', 'Ключ генерации', {
                    confirmButtonText: 'OK',
                });
            }
        },

        created() {
            this.updateConfig();
        }
    };
</script>

<style>
    .el-row {
        margin-bottom: 20px;
    }
</style>