<template>
  <div>
    <el-card class="box-card" shadow="never">
      <div slot="header">
        <img src="../assets/logo.png" width="150px" />
      </div>
      <h1>Генератор задач по математике</h1>
      <h3>Генерируйте задачи любой сложности</h3>

      <el-button type="primary" @click="showCreateVariant">Начать!</el-button>
    </el-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";
const { mapFields } = require("vuex-map-fields");

/**
 * Компонент конфигурирует вариант в state.
 * Настройки компонента поставляются сервером.
 */
export default {
  name: "Greetings",

  methods: {
    ...mapActions(["showCreateVariant"])
  }
};
</script>