<template>
  <el-card shadow="hover" class="card" :body-style="{ padding: '5px 20px' }">
    <div slot="header">
      <span class="card-title">{{task.header}}</span>
      <br>
      <vue-mathjax class="card-task" :formula="task.text" :safe="true"></vue-mathjax>
    </div>
    <div>
      <slot name="actions" />
    </div>
  </el-card>
</template>




<script>
/**
 * «Голая» (в смысле недостроенная) карточка задачи
 * Содержит категорию, описание и поле действий,
 * которе необходимо переопредить (см. использования).
 */
import { VueMathjax } from "vue-mathjax";

export default {
  name: "NakedTask",
  props: ["task"],
  components: {
    "vue-mathjax": VueMathjax
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

.card-small {

}

.card-big {
  width: 900px;
}

.card-task {
  font-family: "Vollkorn", serif;
  font-size: 150%;
  text-align-last: left;
}

.card-title {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #5eaeff;
  margin-bottom: 5px;
  display: block;
}
</style>