<template>
  <el-card shadow="hover" :body-style="{background: 'black', color: 'white'}">
    <h1>Тест завершен 🤘</h1>
    <el-progress color="#5eaeff" :text-inside="true" :stroke-width="20" :percentage="result.score"></el-progress>
    <p>Если задача стала зеленой, значит была решена правильно, а если красной — неправильно.</p>

    <el-button v-if="isAllVariantsSolved" @click="resetState">Начать сначала</el-button>
    <el-button v-if="!isAllVariantsSolved" @click="nextVariant">Следующий вариант</el-button>
  </el-card>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters} from "vuex";
import { getAppStatus } from "../models/appStatus";

/**
 * Карточка с результатами выполнения варианта.
 */
export default {
  name: "Results",
  computed: {
    ...mapState(["result"]),
    ...mapGetters(['isAllVariantsSolved'])
  },

  methods: {
    ...mapMutations(["setAppStatus"]),
    ...mapActions(["resetState", "nextVariant"]),
  }
};
</script>