<template>
    <div v-loading="!ready">
        <h1>Составьте вариант</h1>
        <p>
            Под выбранный уровень сложности мы подобрали несколько типов задач. Выберите те типы задач, которые мы
            используем для генерации вашего уникального варианта.
        </p>
        <p>
            Чтобы выбирать типы было проще, к каждому типу мы приложили по одной задаче. Эти задачи решать не нужно.
        </p>

        <!-- todo: тут следует ярче выделить, что эти задачи решать не нужно, это пример. -->
        <div v-for="(order, ind) in taskTypeOrder" v-bind:key="ind">
            <naked-task :task="taskOptions[ind].task">
                <el-form ref="form" label-position="top" slot="actions">
                    <el-form-item label="Количество таких задач">
                        <el-input-number v-model="order.num"
                                         :min="taskOptions[ind].available.min"
                                         :max="taskOptions[ind].available.max"
                        />
                    </el-form-item>
                </el-form>
            </naked-task>
            <br>
        </div>
        <el-button type="primary" :loading="!ready"
                   :disabled="!isTaskTypeOrdersReady || !ready" @click="createVariant">
            Создать вариант
        </el-button>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import NakedTask from "@/components/NakedTask";
    import {mapMultiRowFields} from "vuex-map-fields";

    /**
     * Выбор подходящих задач, которые следует включить в вариант.
     */
    export default {
        name: "TaskOptions",
        components: {NakedTask},
        computed: {
            ...mapState([
                'taskOptions',
                'ready',
            ]),
            ...mapGetters([
                'isTaskTypeOrdersReady'
            ]),
            ...mapMultiRowFields([
                'taskTypeOrder'
            ]),
        },
        methods: {
            ...mapActions([
                'createVariant'
            ]),
        }
    }
</script>