<template>
  <div v-loading="!ready">
    <div class="c" id="variant">
      <h1 class="header">Ключ генерации </h1>
      <h3>{{variant.seed}}</h3>
      <div v-for="(answer, ind) in taskAnswers" v-bind:key="ind" v-bind="answer">
        <naked-task
          :task="variant.tasks[ind].task"
          :class="{good: isTaskCorrect(result, ind), bad: isTaskIncorrect(result, ind)}"
        >
          <el-form ref="form" label-position="top" slot="actions">
            <el-form-item
              v-for="(answer_field, field_index) in variant.tasks[ind].task.type"
              v-bind:key="answer_field"
            >
              <el-row>
                <el-col v-if="answer_field != ''" :span="2">
                  <vue-mathjax class="answer-template" :formula="answer_field" :safe="true"></vue-mathjax>
                </el-col>
                <el-col v-if="answer_field != ''" :span="2">
                  <vue-mathjax class="t answer-template" :formula="'='" :safe="true">=</vue-mathjax>
                </el-col>
                <el-col v-if="answer_field != ''" :span="20">
                  <el-input
                    :disabled="appStatus.status !== 'Solving'"
                    v-model="answer.value[field_index]"
                  >
                    <template v-if="appStatus.status === 'Solved'">
                      <i
                        v-if="isTaskCorrect(result, ind)"
                        slot="suffix"
                        class="el-input__icon el-icon-circle-check"
                      ></i>
                      <i
                        v-if="isTaskIncorrect(result, ind)"
                        slot="suffix"
                        class="el-input__icon el-icon-circle-close"
                      ></i>
                    </template>
                  </el-input>
                </el-col>
                <el-col v-else :span="24">
                  <el-input
                    :disabled="appStatus.status !== 'Solving'"
                    v-model="answer.value[field_index]"
                  >
                    <template v-if="appStatus.status === 'Solved'">
                      <i
                        v-if="isTaskCorrect(result, ind)"
                        slot="suffix"
                        class="el-input__icon el-icon-circle-check"
                      ></i>
                      <i
                        v-if="isTaskIncorrect(result, ind)"
                        slot="suffix"
                        class="el-input__icon el-icon-circle-close"
                      ></i>
                    </template>
                  </el-input>
                </el-col>
              </el-row>
            </el-form-item>
          </el-form>
        </naked-task>
        <br />
      </div>
    </div>

    <el-button
      v-if="appStatus.status === 'Solving'"
      :loading="!ready"
      :disabled="!ready"
      type="primary"
      @click="sendVariant"
    >Сдать</el-button>

    <el-button :loading="!ready" :disabled="!ready" @click="print">Распечатать вариант</el-button>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import { mapMultiRowFields } from "vuex-map-fields";
import NakedTask from "@/components/NakedTask";
import { VueMathjax } from "vue-mathjax";

/**
 * Вариант. Состоит из задач и, возможно, результатов проверки (если был сдан).
 */
export default {
  name: "Variant",
  components: {
    NakedTask,
    "vue-mathjax": VueMathjax
  },
  computed: {
    ...mapState(["variant", "appStatus", "result", "ready"]),
    ...mapMultiRowFields(["taskAnswers"])
  },
  methods: {
    ...mapActions(["sendVariant"]),

    isPresented(result) {
      return result != null && result.result != null;
    },

    isTaskCorrect(result, ind) {
      return this.isPresented(result) && result.result[ind].is_correct;
    },

    isTaskIncorrect(result, ind) {
      return this.isPresented(result) && !result.result[ind].is_correct;
    },

    print() {
      this.$htmlToPaper("variant");
    }
  }
};
</script>

<style scoped>
.good {
  background: #b3ffb91f;
}

.bad {
  background: #ffb3b31f;
}

.answer-template {
  font-family: "Vollkorn", serif;
  font-size: 150%;
  text-align-last: right;
}

.t {
  margin-left: 10px;
}

.c {
  width: fit-content;
}

.header{
  margin-bottom: -10px;
}
</style>