<template>
  <div id="app">
    <div v-if="appStatus.status !== 'Greetings'">
      <el-steps :active="appStatus.value-1" finish-status="success" align-center class="s-card">
        <el-step title="Параметры" @click="$alert"></el-step>
        <el-step title="Типы заданий"></el-step>
        <el-step title="Вариант"></el-step>
      </el-steps>
    </div>

    <br />
    
    <greetings v-if="appStatus.status === 'Greetings'" class="s-card" />
    <create-variant v-if="appStatus.status === 'SelectingParams'" class="s-card" />
    <task-options v-if="appStatus.status === 'SelectingTasks'" class="s-card" />
    <variant v-if="appStatus.status === 'Solving' || appStatus.status === 'Solved'" class="s-card" />
    <results v-if="appStatus.status === 'Solved'" class="s-card" />

    <!-- todo: рефакторинг стилей -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CreateVariant from "./components/CreateVariant.vue";
import * as element from "element-ui";
import "element-ui/lib/theme-chalk/index.css";
import TaskOptions from "./components/TaskOptions.vue";
import Variant from "./components/Variant.vue";
import { mapState } from "vuex";
import Results from "./components/Results.vue";
import Greetings from "./components/Greetings.vue";
import VueHtmlToPaper from "vue-html-to-paper";
import VueMathjax from 'vue-mathjax'
import { mapActions } from "vuex";

Vue.use(VueMathjax)
Vue.use(VueHtmlToPaper);
Vue.use(element);

@Component({
  components: {
    Results,
    TaskOptions,
    CreateVariant,
    Variant,
    Greetings
  },

  computed: {
    ...mapState(["appStatus"]),
  }
})
export default class App extends Vue {
}
</script>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.s-card {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

p {
  line-height: 1.5em;
}
</style>
